*{
  box-sizing: border-box;
}
body{
  margin: 0
}
.nav{
  background-color: whitesmoke;
  width:100vw;
  padding-top: 0.3rem;
  position: fixed;
  top: 0;
  padding-bottom: 0.3rem;
  box-shadow: 0.5px 0.5px 10px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav > p{
  margin-left: 2rem
}

.menu{
  margin-right: 2rem;
  /* border: 2px solid red; */
  list-style-type: none;
  display: inline-flex;
  justify-content: flex-end;
  gap: 6rem;
}
.nav a{
  padding: 0.4rem;
}
.nav a:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.line{
  width: 3rem;
  height: 2.5rem;
  /* background-color: aqua; */
  position: relative;
  top: 0.2rem;
  left: 30vw;
  display: none;
}
.lines{
  width: 2rem;
  border: 1.5px solid rgb(11, 11, 11);
}
#times{
  display: none;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  /* top: 1vh; */
  left:40vw;
}

#home{
  background-image: url(images/hamburger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 3.9rem;
  width: 100vw;
  height: 100vh;
}
#home_img{
  display: none;
}
#home p{
  position:relative;
  top: 75vh;
  font-size: 24pt;
  /* color: grey; */
  opacity: 0.5;
  margin-left: 2vw;
}

#about{
  width: 30vw;
  height: 30vh;
  background-color: black;
}


















@media(max-width:850px){
  #home{
    background: none;
  }
  #home_img{
    display: block;
    width: 100%;
    height: 100%;
  }
  #home p{
    position: absolute;
    top: 17vh;
  }
}

@media (max-width:660px){
  .nav{
    /* margin-right: 0; */
    box-shadow: 0.5px 0 10px black;
  }
    .nav ul{
      display: none;
    }
    nav p a{
      font-size: 8pt;
    }
    nav li{
      margin-bottom: 0.5rem;
    }
    nav li:nth-of-type(1){
      margin-top: 0.5rem;
    }
    .line{
      display: block;
    }
    .menu{
      position: absolute;
      left: 55vw;
      background: #cababa;
      width: 10rem;
      height: 5rem;

    }
   
   
}
@media(min-width:390px) and  (max-width:660px){
  .line{
    left: 35vw;
  }
}
