*{
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: /*'Franklin Gothic Medium', */'Arial Narrow', Arial, sans-serif;
}
.nav{
  background-color: whitesmoke;
  width:100vw;
  padding-top: 0.3rem;
  position: fixed;
  top: 0;
  padding-bottom: 0.3rem;
  box-shadow: 0.5px 0.5px 10px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}
.nav > p{
  margin-left: 2rem
}

.menu{
  margin-right: 2rem;
  /* border: 2px solid red; */
  list-style-type: none;
  display: inline-flex;
  justify-content: flex-end;
  gap: 6rem;
  padding-left: 0.3rem;
}
.nav a{
  padding: 0.4rem;
}
.nav a:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.line{
  width: 3rem;
  height: 2.5rem;
  /* background-color: aqua; */
  position: relative;
  top: 0.2rem;
  left: 30vw;
  display: none;
}
.lines{
  width: 2rem;
  border: 1.5px solid rgb(11, 11, 11);
}
#times{
  /* display: block; */
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  left: 85%;
  /* top: 0; */
}


/* HOME SECTION */
#home{
  background-image: url(images/hamburger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 3.9rem;
  width: 100vw;
  height: 100vh;
}
#home_img{
  display: none;
}
#home p{
  position:relative;
  top: 75vh;
  font-size: 24pt;
  /* color: grey; */
  opacity: 0.5;
  margin-left: 2vw;
}


/* ABOUT SECTION */

#about{
 display: flex;
 justify-content: center;
 flex-shrink: 1;
 /* flex-wrap: wrap; */
 column-gap: 2rem;
 margin-top: 3rem;

}
#about div:nth-of-type(1){
  width: 30vw;
  /* border: 2px solid red; */
  border-radius: 2.5%;
  align-self: center;
}
#about div:nth-of-type(2){
  width: 40vw;
  /* flex: 1 1 0; */
}
#about img{
  width: 100%;
  border-radius: 2.5%;
  box-shadow: -2px -2px 10px gray;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.2em;
  font-weight: 500;
}
#about p{
  font-size: calc(15px-1vw);
  line-height: 1.5;
}
#about p:nth-of-type(2){
  opacity: 0.5;
}



















@media(max-width:850px){
  #home{
    background: none;
  }
  #home_img{
    display: block;
    width: 100%;
    height: 100%;
  }
  #home p{
    position: absolute;
    top: 17vh;
  }
}

@media (max-width:660px){
  .nav{
    /* margin-right: 0; */
    box-shadow: 0.5px 0 10px black;
  }
    .nav ul{
      display: none;
    }
    nav p a{
      font-size: 8pt;
    }
    nav li{
      margin-bottom: 0.5rem;
    }
    nav li:nth-of-type(1){
      margin-top: 0.5rem;
    }
    .line{
      display: block;
    }
    .menu{
      position: absolute;
      left: 55vw;
      background: #cababa;
      width: 8rem;
      height: auto;

    }
   #about{
    flex-direction: column;
    font-size: 12pt;
   }
   #about div:nth-of-type(1){
    width: 50vw;
   }
   #about div:nth-of-type(2){
    align-self: center;
    width: 80vw;
   }
   
}
@media(min-width:390px) and  (max-width:660px){
  .line{
    left: 35vw;
  }
}
